<h1>Attractions#index</h1>


<% if current_user %>
  <%= link_to 'New Attraction', new_attraction_path %><br>
  

<% end %>

<% @attractions.each do |attraction| %>

  Name: <%= attraction.name %><br>
  <% if current_user %>
    <%= link_to "Show #{attraction.name} ", attraction_path(attraction) %><br>

  <% end %>

    <%= link_to "Go on #{attraction.name} ", attraction_path(attraction) %><br>
 
  Minimum Height: <%= attraction.min_height %><br>
  Nausea Rating: <%= attraction.nausea_rating %><br>
  Happiness Rating: <%= attraction.happiness_rating %><br>
  <br>
  
<% end %>

