<h1>Attractions#show</h1>

Name: <%= @attraction.name %>

Happiness Rating: <%= @attraction.happiness_rating %>
Nausea Rating: <%= @attraction.nausea_rating %>
Tickets: <%= @attraction.tickets %>
Minimum Height: <%= @attraction.name %>


<p>Find me in app/views/attractions/show.html.erb</p>
